header {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(#fff, #eee 2%, #ddd);
  border-bottom: 1px solid #ccc;
  padding: 10px 100px;
}
.topbar {
  position: relative;
  display: flex;
  align-items: center;
}
.topbar .dots {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.topbar .dots > span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.topbar .dots > span:first-child {
  background-color: #ff5751;
}
.topbar .dots > span:nth-child(2) {
  background-color: #fcc31a;
}
.topbar .dots > span:nth-child(3) {
  background-color: #26cb3b;
}
.topbar .title {
  width: 40%;
  background-color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 auto;
}
nav {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(221, 221, 221, 0.8) 2%,
    rgba(204, 204, 204, 0.8)
  );
  /* background-image: linear-gradient(#fff, #ddd 2%, #ccc); */
  border-radius: 10px 10px 0 0;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}
nav ul li button {
  height: 40px;
  font-size: 18px;
  padding: 5px 10px;
  color: #333;
  white-space: nowrap;
}
nav ul li.active button {
  background-color: #e0e0e0;
}

/* main */
main {
}
section {
  transform-origin: left bottom;
  transition: all 0.4s;
}

section .topbar {
  padding: 10px 50px 10px 30px;
  background-image: linear-gradient(#fff, #eee 2%, #ddd);
  border-bottom: 1px solid #ccc;
}
section .topbar .dots {
  position: static;
  transform: translateY(0);
  display: flex;
  align-items: center;
}
section .topbar .dots span {
  color: #333;
  text-align: center;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-right: 15px;
  background-color: #bbb !important;
  border: 1px solid #aaa;
}
section .topbar .dots span.close {
  cursor: pointer;
}
section .topbar .dots span.close:hover {
  background-color: #aaa !important;
}
section .topbar .title {
  width: 100%;
  padding: 5px 30px;
}
section.active {
  transform: scale(0);
}

#background {
  width: 100vw;
  height: 100vh;
  background: url("img/background2.jpg") no-repeat top / cover;
}

#about,
#work,
#favorite,
#contact {
  position: absolute;
  top: 15%;
  left: 5%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: fit-content;
  /* max-height: 60vh; */
}
#work {
  top: 10%;
  left: 25%;
}
#favorite {
  top: 20%;
  left: 45%;
}
#contact {
  top: 30%;
  left: 55%;
}

#about {
  background-color: rgb(211, 236, 240);
}
#about .profile {
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #fff;
}
#about .profile figure {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
#about .profile > p {
  font-size: 14px;
  color: #aaa;
}
#about .profile > p strong {
  font-size: 20px;
  color: #333;
}
#about .profile ul {
  width: 100%;
  margin-top: 20px;
}
#about .profile ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  white-space: nowrap;
}
#about .profile ul li strong {
  font-size: 16px;
}
#about .profile ul li span {
  display: block;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  background-color: #efefef;
  border: 1px solid #aaa;
}

/* work */
#work {
  background-color: darkslategray;
}
#work .portfolio {
  padding: 0 50px 40px;
}
#work .portfolio h3 {
  padding-left: 20px;
  position: relative;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 40px;
  color: #fff;
}
#work .portfolio h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
#work .portfolio .box {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
}
#work .portfolio .box img {
  transition: transform 2.5s, filter 0.4s;
}
#work .portfolio .box:hover img {
  transform: translateY(-10%);
}

#favorite {
  background-color: plum;
}
#favorite .grid {
  padding: 50px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#favorite .grid > div {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: palevioletred;
}
