* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  width: 200px;
  overflow: hidden;
  margin: 20px;
}
.card img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.card .desc {
}
.card .desc > * {
  margin-top: 6px;
  display: block;
}
.card .desc div {
  font-size: 16px;
}
.card .desc div strong {
  color: #ee6363;
  margin-top: 0;
}
.card .desc div span {
  font-weight: 700;
  margin-left: 6px;
}
.card .desc > strong {
  font-size: 13px;
  color: #7e7e7e;
}
.card .desc > p {
  margin-top: 0;
  font-size: 13px;
  color: #7e7e7e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .desc > em {
  color: #9e9e9e;
  font-size: 12px;
  font-style: normal;
}
