* {
  font-family: "Pretendard";
}
h2 {
  font-weight: 700;
  font-size: 20px;
  padding-left: 20px;
}
.card {
  padding: 20px;
}
.card img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card div {
  margin-top: 10px;
  font-weight: 700;
}
